{% extends "base.html" %}

{% block title %}{% bilingual "Password updated" "密码已更新" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="alert alert-success">{% bilingual "Your password was updated successfully. Sign in with the new password." "密码已成功更新，请使用新密码登录。" %}</div>
    <div class="text-center">
      <a class="btn btn-primary" href="{% url 'login' %}">{% bilingual "Go to sign in" "前往登录" %}</a>
    </div>
  </div>
</div>
{% endblock %}
